/* ============================ BANNER =========================== */

.banner__container {
  max-width: 1190px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  border-left: 1px solid rgba(29, 29, 29, 0.1);
  border-right: 1px solid rgba(29, 29, 29, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.banner__icon {
  width: 106px;
  height: auto;
}

.banner__divider {
  width: 1px;
  height: 26px;
  background: #d7d7d7;
}

.banner__text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 23.2px;
  color: #1a1a1a;
  max-width: 370px;
}

.banner__image {
  width: 301px;
  height: auto;
}

/* -------------------------------- Адаптив -------------------------- */

@media (max-width: 768px) {
  .banner__container {
    flex-direction: column;
    gap: 16px;
  }

  .banner__divider {
    display: none;
  }

  .banner__text {
    text-align: center;
  }
}
