.info {}

.info_wrapper {
    padding: 50px 0px;
    width: 100%;
    border-bottom: 1px solid rgba(29, 29, 29, 0.10);
    border-top: 1px solid rgba(29, 29, 29, 0.10);

}

.info_block {
    max-width: 734px;
    margin: 0 auto;
    padding: 24px 10px 10px 10px;
    border-radius: 20px;
    background: #F6F6F6;
    position: relative;
}

.info_block-decor {
    position: absolute;
    top: -25px;
    right: 67px;
}

.info_block-title {
    text-align: left !important;
    margin-bottom: 21px;
    margin-left: 20px;
}

.info_block-content {
    background-color: #FFFFFF;
    padding: 30px 30px 0px 30px;
    border-radius: 14px;

}

.info_block-text {}

.info_block-divider {}

.info_block-content-bot {
    padding: 26px 0px;
    display: flex;
    justify-content: space-between;
}

.info_block-content-bot-flex {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.info_block-content-bot-name {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info_block-content-bot-image {
    width: 100%;
    max-width: 117px;
}

@media (max-width:991px) {
    .info_wrapper {
        padding: 25px 0px;
        background: #F6F6F6;
    }

    .info_block-decor {
        display: none;
    }

    .info_block {
        padding: 10px;
    }

    .info_block-content-bot {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .info_block-content {
        background-color: #FFFFFF;
        padding: 15px 15px 0px 15px;
        border-radius: 14px;
    }

    .info_block-title {
        margin-left: 10px;
    }

    .info_block-content-bot {

        
    }

}