.section_partners {
    width: 100%;
}

.partners_wrapper {
    text-align: center;
    padding-block: 35px;
    border-top: 1px solid #1D1D1D1A;
    border-bottom: 1px solid #1D1D1D1A;
}

.partners_head {
    margin-bottom: 25px;
}

.partners_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item_partners {
    width: 100%;
    max-width: 104px;
}

@media (max-width:991px) {
    .partners_head {
    margin-bottom: 20px;
    }
}