.reviews {}

.reviews_wrapper {
    padding: 40px 0px 50px 0px;
}

.reviews_title-wrap {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.reviews_switch {
    width: max-content;
    background-color: #F2F2F2;
    border-radius: 88px;
    margin: 0 auto;
    padding: 4px;
    margin-bottom: 30px;
}

.reviews_tab {
    width: max-content;
    font-family: "Inter";
    font-size: 18px;
    line-height: 145%;
    color: #1A1A1A;
    background-color: transparent;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    transition: all .4s ease 0s;
}

.reviews_tab.active {
    background-color: #FFFFFF;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.12), 0 0.602px 0.602px -1.25px rgba(0, 0, 0, 0.18), 0 2.289px 2.289px -2.5px rgba(0, 0, 0, 0.16), 0 10px 10px -3.75px rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
    border-radius: 28px;
}

.reviews_video {
    overflow: hidden;
    padding: 5px 10px 0px 10px;
}

.reviews_list-wrap {}

.reviews_tab-1 {}

.reviews_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.reviews_item {
    width: 100%;
    max-width: 353px;
    padding-top: 6px;
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 1px solid #E8E8E8;
    margin-bottom: 15px;
}

.reviews_item-content {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;
}

.reviews_head {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.reviews_text {}

.reviews_avatar-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.reviews_avatar-info-flex {
    flex-direction: column;
}

.reviews_avatar-image {
    width: 44px;
    height: 44px;
}

.reviews_item-title {
    text-align: center;
    margin-bottom: 10px;
}

.reviews_item.image {
    padding-top: 10px;
}

.reviews_item.no-video .reviews_item-content {
    padding-left: 18px;
    padding-right: 18px;
}

.reviews_cta {
    position: relative;
    cursor: pointer;
    top: 20px;
    display: flex;
    align-items: center;
    padding: 9px 17px 11px 14px;
    width: max-content;
    gap: 8px;
    margin: 0 auto;
    border-radius: 100px;
    background: linear-gradient(180deg, #3E3E3E 0%, #212126 100%);
    box-shadow: 0 0 0 1px #212126, 0 1px 0 0 rgba(255, 255, 255, 0.10) inset, 0 1px 3px 0 rgba(33, 33, 38, 0.20);
}

.reviews_image-2 {
    width: 100%;
    max-width: 130px;
}


.reviews_swap-text {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1%;
    line-height: 145%;
    color: #fff;
}

.reviews_cta-icon {
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews_cta-minus {
    display: none;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 700;
    color: #000;
    margin-top: -2px;
}

.reviews_cta-plus {
    display: block;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 700;
    color: #000;
    margin-top: -2px;
}

.reviews_cta-plus.hidden {
    display: none;
}

.reviews_cta-minus.active {
    display: block;
}

.reviews_list .reviews_item:nth-child(n+10) {
    display: none;
}



@media (max-width:991px) {
    .reviews_item {
        width: 100%;
        max-width: 100%;
    }

    .reviews_switch {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 12px;
        justify-content: center;
    }

    .reviews_tab {
        font-size: 14px;
    }

    .reviews_image-2 {
        width: 100%;
        max-width: 80px;
    }

    .d-none {
        display: none;
    }
}